In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics 
from sklearn.metrics import classification_report
from sklearn.naive_bayes import GaussianNB

In [ ]:
df = pd.read_csv('iris.csv',sep=',')

df

     sepal_length  sepal_width  petal_length  petal_width  plant
0             5.1          3.5           1.4          0.2      0
1             4.9          3.0           1.4          0.2      0
2             4.7          3.2           1.3          0.2      0
3             4.6          3.1           1.5          0.2      0
4             5.0          3.6           1.4          0.2      0
..            ...          ...           ...          ...    ...
145           6.7          3.0           5.2          2.3      2
146           6.3          2.5           5.0          1.9      2
147           6.5          3.0           5.2          2.0      2
148           6.2          3.4           5.4          2.3      2
149           5.9          3.0           5.1          1.8      2

[150 rows x 5 columns]

In [ ]:
data = np.array(df)
x_train, x_test, y_train, y_test = train_test_split(data[:,0:4], data[:,4], test_size = .3, random_state=25)
#print ("x_train: ", x_train)
#print ("y_train: ", y_train)
#print("x_test: ", x_test)
#print ("y_test: ", y_test)

In [ ]:
LogReg = LogisticRegression().fit(x_train, y_train)

In [ ]:
y_pred = LogReg.predict(x_test)

print(y_test)
y_pred

[0. 1. 1. 1. 2. 1. 2. 0. 1. 1. 0. 0. 0. 2. 0. 1. 2. 2. 1. 1. 1. 1. 1. 0.
 0. 2. 1. 2. 2. 0. 1. 2. 2. 0. 2. 1. 1. 0. 0. 0. 0. 0. 0. 0. 2.]

array([0., 1., 2., 1., 2., 1., 2., 0., 1., 1., 0., 0., 0., 2., 0., 1., 2.,
       2., 1., 1., 1., 1., 1., 0., 0., 2., 1., 2., 2., 0., 1., 2., 2., 0.,
       2., 1., 1., 0., 0., 0., 0., 0., 0., 0., 2.])

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00        17
         1.0       1.00      0.94      0.97        16
         2.0       0.92      1.00      0.96        12

    accuracy                           0.98        45
   macro avg       0.97      0.98      0.98        45
weighted avg       0.98      0.98      0.98        45

In [ ]:
gnb = GaussianNB().fit(x_train, y_train)

In [ ]:
y_pred = gnb.predict(x_test)

print(y_test)
y_pred

[0. 1. 1. 1. 2. 1. 2. 0. 1. 1. 0. 0. 0. 2. 0. 1. 2. 2. 1. 1. 1. 1. 1. 0.
 0. 2. 1. 2. 2. 0. 1. 2. 2. 0. 2. 1. 1. 0. 0. 0. 0. 0. 0. 0. 2.]

array([0., 1., 2., 1., 2., 1., 2., 0., 1., 1., 0., 0., 0., 1., 0., 1., 2.,
       2., 1., 1., 1., 1., 1., 0., 0., 2., 1., 2., 2., 0., 1., 2., 2., 0.,
       2., 2., 1., 0., 0., 0., 0., 0., 0., 0., 2.])

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00        17
         1.0       0.93      0.88      0.90        16
         2.0       0.85      0.92      0.88        12

    accuracy                           0.93        45
   macro avg       0.93      0.93      0.93        45
weighted avg       0.94      0.93      0.93        45